.mob-nav-btn {
    display: none;

}

.fixed-arrow {
    position: fixed;
    z-index: 3;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background: rgba(126, 126, 126, 0.4) url(../img/arrow.png) no-repeat center;
    font-size: 0;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(20px);
}

header {
    position: fixed;
    z-index: 3;
    width: 100%;
    transition: all .3s;
}

body.scroll header {
    background-color: rgba(0, 0, 0, 0.459);
}

body.scroll .fixed-arrow {
    transform: translateY(0);
    opacity: 1;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .inner h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    gap: 42px;
}

.nav-list a {
    display: block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}

.sec-1 {
    height: 100vh;
}

.sec-1 .slider-wrap {
    position: relative;
    height: 100%;
}

.sec-1 .sec-1-slider {
    height: 100%;
}

.sec-1 .swiper-slide {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.sec-1 .swiper-slide.s01 {
    background-image: url(../img/sec-1-bg.png);
}

.sec-1 .swiper-slide.s02 {
    background-image: url(../img/bg1.png);
}

.sec-1 .swiper-slide.s03 {
    background-image: url(../img/bg2.png);
}

.sec-1 .swiper-slide.s04 {
    background-image: url(../img/bg3.png);
}

.sec-1 .tit-wrap {
    color: #fff;
    text-align: center;
}

.sec-1 .inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-1 .tit-wrap .txt {
    margin: 30px auto 50px;
}

.sec1-arr {
    background-color: rgba(255, 255, 255, 0.679);
    border-radius: 15px;
    padding: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sec1-arr.swiper-button-next {
    background-image: url(../img/right-arr.png);
}

.sec1-arr.swiper-button-prev {
    background-image: url(../img/left-arr.png);
}

.sec-1 .swiper-pagination-bullet {
    border-radius: 30px;
    background-color: #fff;
    transition: width .3s;
}

.sec-1 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 100px;
}

.sec1-arr svg {
    display: none;
}


.sec-2 {
    padding: 200px 0;
}

.sec-2 .tit-wrap .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #dcc1ff;
    position: absolute;
    left: -100px;
    top: -50px;
    z-index: -1;
    animation: circle 5s infinite alternate linear;
}

.sec-2 .tit-wrap .circle:after {
    display: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c599ff;
    top: -10px;
    left: calc(50% - 10px);
}

@keyframes circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.sec-2-lst {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 40px;
}

.sec-2-lst li {
    width: 260px;
}

.sec-2-lst li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 218px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba(132, 132, 132, 0.25);
}

.sec-2-lst li a h4 {
    font-size: 35px;
    font-weight: 600;
    color: #c599ff;
}

.sec-2-lst li a p {
    color: #898989;
    font-size: 12px;
    max-width: 210px;
    text-align: center;
}

.sec-3 {
    display: flex;
    height: 100vh;
    align-items: center;
}

.sec-3 .bg-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.sec-3 .bg-wrap>div {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .3s;
    opacity: 0;
}

.sec-3 .bg-wrap>div.active {
    opacity: 1;
}

.sec-3 .bg-wrap .bg-1 {
    background-color: #afaa8c;
}

.sec-3 .bg-wrap .bg-2 {
    background-color: #EBD55A;
}

.sec-3 .bg-wrap .bg-3 {
    background-color: #EEAB22;
}

.sec-3 .bg-wrap .bg-4 {
    background-color: #E3FEE9;
}

.sec-3 .tit-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #f1f1f1;
    height: 100%;
}

.sec-3 .tit-wrap .btn-wrap {
    display: flex;
}

.sec-3 .tit-wrap .btn-wrap>div {
    position: static;
}

.sec-3 .tit-wrap .txt {
    margin-bottom: 30px;
}

.sec-3 .img-wrap {
    width: 50%;
    /* background: url(../img/sec-3-img.png) no-repeat center/cover; */
    height: 100%;
    position: relative;
}

.sec-3-slider {
    height: 100%;
}

.sec-3-slider .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-3-slider .swiper-slide.sl-1 {
    background-image: url(../img/sec-3-img.png);
}

.sec-3-slider .swiper-slide.sl-2 {
    background-image: url(../img/sec-3-bg-1.png);
}

.sec-3-slider .swiper-slide.sl-3 {
    background-image: url(../img/sec-3-bg-2.png);
}

.sec-3-slider .swiper-slide.sl-4 {
    background-image: url(../img/sec-3-bg-3.png);
}

.sec-3-slider .swiper-slide .num {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 200px;
    height: 200px;
    align-content: center;
    text-align: center;
    font-size: 100px;
    border-radius: 200px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.322);
}

.sec-3-slider .swiper-slide.sl-1 .num {
    background-color: #EBD55A;
}

.sec-3-slider .swiper-slide.sl-2 .num {
    background-color: #EEAB22;
}

.sec-3-slider .swiper-slide.sl-3 .num {
    background-color: #E3FEE9;
}

/* 4 */
.sec-4 {
    padding: 200px 0;
}

.sec-4 .tit-wrap a.btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sec-4-lst {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.sec-4-lst li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 350px;
    background-color: #d8d8d8;
    text-align: center;
    padding: 20px;
    gap: 15px;
}

.sec-4-lst li a h4 {
    font-size: 60px;
}

.sec-4-lst li:nth-child(even) a {
    margin-top: 60px;
}

.sec-5 {
    height: 650px;
}

.sec-5 h2.tit {
    font-size: 60px;
}

.sec-5-content-wrap {
    position: relative;
    height: 100%;
    z-index: 0;
}

.sec-5 a.btn {
    width: auto;
    padding: 0 20px;
}

.sec-5-content-wrap .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
    z-index: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: all 0.3s;
}

.sec-5-content-wrap .content.on {
    z-index: 1;
    opacity: 1;
}

.sec-5-content-wrap .content p {
    margin: 30px 0 20px;
}

.sec-5-content-wrap .con-0 {
    background-image: url(../img/bg-4-1.png);
}

.sec-5-content-wrap .con-1 {
    background-image: url(../img/bg-4-2.png);
}

.sec-5-content-wrap .con-2 {
    background-image: url(../img/bg-4-3.png);
}

.sec-5-content-wrap .con-3 {
    background-image: url(../img/bg-4-4.png);
}

.sec-5-menu {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    gap: 10px;
    overflow: hidden;
    border-radius: 30px;
}

.sec-5-menu li a {
    background-color: rgba(255, 255, 255, 0.212);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    justify-content: center;
    font-size: 17px;
    min-width: 150px;

    align-items: center;
}

.sec-5-menu li a span:first-child {
    opacity: .6;
}

.sec-5-menu li.active a {
    background-color: #7044c2;
    color: #fff;
}

.sec-5-menu li span {
    color: #ffffff;
}

footer {
    background-color: #f1f1f1;
    padding: 30px 0;
}

footer .left-wrap h5 {
    font-size: 30px;
    font-weight: 900;
}

footer .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sns-icon {
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #7044c2;
}

/* .sns-icon img {
    /* max-width: 30px; */
/* height: auto; 
} */