@media screen and (max-width: 1640px) {
    header .inner {
        padding: 20px;
    }

    .inner {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1440px) {
    .mob-nav-btn {
        display: block;
        width: 30px;
        height: 20px;
        /* background-color: red; */
        position: relative;
    }

    .mob-nav-btn span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        transition: all .3s;

    }

    .mob-nav-btn span:nth-child(1) {
        top: 0
    }

    .mob-nav-btn span:nth-child(2) {
        top: 48%
    }

    .mob-nav-btn span:nth-child(1) {
        top: 99%
    }

    .nav-list {
        position: fixed;
        right: -100%;
        top: 79px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.589);
        padding: 20px;
        width: 200px;
        gap: 10px;
        text-align: center;
        transition: right .3s;
    }

    .nav-list li+li {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .nav-list li a {
        padding-top: 10px;
    }

    body.mob-nav-open .nav-list {

        right: 0;
    }

    body.mob-nav-open .mob-nav-btn span:nth-child(1) {
        transform: rotate(45deg);
        top: 48%
    }

    body.mob-nav-open .mob-nav-btn span:nth-child(3) {
        transform: rotate(-45deg);
        top: 48%
    }

    body.mob-nav-open .mob-nav-btn span:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
    }

    .sec-2-lst {
        justify-content: center;
    }


    .sec-3 {
        background: url(../img/sec-3-bg.png) no-repeat center/cover;
        flex-direction: column;
    }

    .sec-3 .img-wrap {
        width: 100%;
        /* display:none */
    }

    .sec-3 .tit-wrap {
        background-color: transparent;
        width: 100%;
    }

    /* .sec-3 .tit-wrap >* {
    text-shadow: 0 0 5px #00000062;
    color: #333333;
} */
    .sec-3-slider .swiper-slide .num {
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
    }

    .sec-4-lst {
        gap: 20px
    }

    .sec-4-lst li a {
        width: 100%;
    }

    .sec-4-lst li a h4 {
        font-size: 50px;
    }
}


@media screen and (max-width: 1024px) {

    .sec-4-lst {
        flex-wrap: wrap;
        margin-top: 90px;
    }

    .sec-4-lst li {
        width: 42%;
    }

    .sec-4-lst li:nth-child(even) a {
        margin-top: -50px
    }

    .sec-5 {
        min-height: 100vh;
    }

    .sec-5-menu {
        border-radius: 0;
        overflow: hidden;
        /* justify-content: space-between; */
    }

    .sec-5-menu li {
        width: 48%;
    }

    .sec-5-menu li a {
        min-width: 0;
        border-radius: 20px;
        font-size: 0;
        width: 20px;
        height: 20px;
    }

    footer .inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
}


@media screen and (max-width: 699px) {

    .sec1-arr.swiper-button-prev,
    .sec1-arr.swiper-button-next {
        display: none;
    }

    /* 3section .num figma designê³¼ ë™ì¼í•˜ê²Œ ë§Œë“¤ì–´ë³´ê¸° */


    .sec-4 .tit-wrap a.btn {
        position: static;
        transform: translateY(0);
        margin-top: 30px;
    }

    .sec-4-lst li {
        width: 80%;
        max-width: 400px;
    }

    .sec-4-lst li:nth-child(even) a {
        margin-top: 0;
    }
}