section {
    position: relative;
    min-height: 100vh;
    z-index: 0;
}

section:nth-child(even) {
    background-color: #eee;
}

.inner {
    max-width: 1640px;
    margin: auto;
    position: relative;
}

h2.tit {
    /* clamp(최소값, 선호값, 최대값) */
    font-size: clamp(60px, 7vw, 100px);
    font-weight: 800;
}

p.txt {
    font-size: clamp(12px, 1.5vw, 17px);
    max-width: 470px;
    margin-top: clamp(18px, 2.4vw, 30px);
}

.tit-wrap {
    position: relative;
}

a.btn {
    display: inline-flex;
    width: clamp(116px, 14vw, 150px);
    height: clamp(42px, 4.2vw, 47px);
    justify-content: center;
    align-items: center;
    font-size: clamp(16px, 1.9vw, 22px);
    font-weight: 900;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 47px;
}